.banner {
  display: none;
  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 310px;
    margin-bottom: 127px;
    padding-left: 330px;
    position: relative;
    &::after {
      content: "";
      height: 277px;
      width: 243px;
      position: absolute;
      left: 20px;
      top: -40px;
      background-image: url("/img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }
}
.banner__title {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
  }
}
.banner__content {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}
.banner__more {
  @media (min-width: @tablet-width) {
    color: @pink;
    text-decoration: underline;
  }
}
