.capabilities {
  margin-bottom: 43px;
  color: @grey;
  background-color: #f2f2f2;
  @media (min-width: @tablet-width) {
    margin-bottom: 98px;
    padding-bottom: 24px;
  }
}
.capabilities__slogan {
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  background-color: #ffffff;
  @media (min-width: @tablet-width) {
    padding-bottom: 43px;
    font-size: 40px;
    line-height: 48px;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 43px;
    font-size: 50px;
    line-height: 58px;
  }
}
.capabilities__slogan p {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}
.capabilities__slogan p:last-child {
  @media (min-width: @tablet-width) {
    width: 335px;
    padding-left: 162px;
  }
  @media (min-width: @desktop-width) {
    width: 420px;
    padding-left: 390px;
  }
}
.capabilities__wrapper {
  padding-top: 80px;
  padding-bottom: 25px;
  @media (min-width: @tablet-width) {
    padding-top: 70px;
    padding-bottom: 5px;
  }
}
.capabilities__list {
  width: 260px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  position: relative;
  list-style: none;
  &::after {
    content: "";
    display: block;
    height: 277px;
    width: 155px;
    position: relative;
    top: 25px;
    left: 53px;
    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    @media (min-width: @tablet-width) {
      content: "";
      display: block;
      height: 483px;
      width: 270px;
      position: absolute;
      left: 0;
      top: -66px;
      background-image: url("/img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
    }
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
  @media (min-width: @tablet-width) {
    width: 310px;
    padding-left: 310px;
    padding-top: 8px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    width: 940px;
    padding: 0;
    flex-direction: row;
  }
}
.capabilities__item {
  padding-bottom: 17px;
  text-align: center;
  @media (min-width: @tablet-width) {
    text-align: left;
    padding-bottom: 19px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 320px;
  }
}
.capabilities__item:nth-child(1) {
  @media (min-width: @desktop-width) {
    background-image: url("/img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
.capabilities__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    background-image: url("/img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
.capabilities__item:nth-child(3) {
  padding-bottom: 0;
  @media (min-width: @desktop-width) {
    background-image: url("/img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
  }
}
.capabilities__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #000000;
  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}
.capabilities__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
