.collection {
  color: @grey;
  margin-bottom: 25px;
}
.collection__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (min-width: @desktop-width) {
    width: 940px;
  }
}
.collection__item {
  margin-bottom: 5px;
  text-align: left;
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}
.collection__item:first-child {
  position: relative;
  align-self: stretch;
  .collection__item-text-box {
    width: 280px;
    margin-left: 20px;
  }
  @media (min-width: @tablet-width) {
    width: 900px;
    .collection__item-text-box {
      min-height: 115px;
      width: 620px;
      margin-left: 20px;
      margin-bottom: 80px;
      position: relative;
    }
    .collection__full-picture img {
      display: none;
    }
    .collection__full-picture {
      display: block;
      width: 660px;
      height: 510px;
      background-image: url("/img/panorama-tablet@1x.jpg");
      background-position: center;
    }
    .collection__text {
      width: 520px;
    }
    .collection__heart-box {
      position: absolute;
      top: 20px;
      left: 500px;
    }
  }
  @media (min-width: @desktop-width) {
    .collection__item-text-box {
      width: 1160px;
    }
    .collection__full-picture img {
      display: none;
    }
    .collection__full-picture {
      display: block;
      width: 1200px;
      height: 500px;
      background-image: url("/img/panorama-desktop@1x.jpg");
      background-position: center;
    }
    .collection__text {
      width: 940px;
    }
  }
}
.collection__mark {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 30px;
  left: 160px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: @pink;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    top: 90px;
    left: 500px;
  }
  @media (min-width: @desktop-width) {
    top: 90px;
    left: 910px;
  }
}
.collection__full-picture {
  background-color: #f2f2f2;
}
.collection__item-text-box {
  padding-top: 10px;
  background-color: #f2f2f2;
  @media (min-width: @tablet-width) {
    min-height: 155px;
  }
}
.collection__title {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #949aa1;
}
.collection__author {
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @grey;
  text-transform: capitalize;
}
.collection__text {
  width: 245px;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.collection__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
}
