.collection {
  color: @grey;
  .collection__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .collection__mark {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    background-color: @pink;
    text-transform: uppercase;
  }
  .collection__item-text-box {
    background-color: #f2f2f2;
  }
  .collection__title {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #949aa1;
  }
  .collection__author {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: @grey;
    text-transform: capitalize;
  }
  .collection__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .collection__like {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: @pink;
    text-transform: uppercase;
  }
}
