.downloads {
  min-height: 730px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @grey;
  color: #ffffff;
  background-repeat: no-repeat;
}
.downloads__box {
  min-height: 270px;
  position: relative;
  top: 50px;
  min-height: 270px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 405px;
}
.downloads__button {
  color: #ffffff;
  text-decoration: none;
}
.downloads__accessibility {
  order: 1;
  width: 235px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.downloads__list {
  width: 205px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.downloads__item {
  align-self: baseline;
}
@media (min-width: @tablet-width) {
.downloads {
  background-image: url("../img/bg-back-tablet@1x.jpg") 50% 0;
  background-repeat: no-repeat;
  background-size: 660px auto;
  }
}
@media (min-width: @desktop-width) {
.downloads {
  background-image: url("../img/bg-back-desktop@1x.jpg") 50% 0;
  background-repeat: no-repeat;
  background-size: 1200px auto;
  }
}
