.form-post {
  .form-post__box {
    background-color: #f2f2f2;
  }
  .form-post__slogan {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @grey;
  }
  .form-post__send {
    background-color: inherit;
    color: @pink;
    border-color: @pink;
  }
  .form-post__cancel {
    background-color: inherit;
    color: rgba(@grey,0.1);;
    border-color: rgba(@grey,0.1);
  }
  .tools {
    svg {
      fill: #b5b9be;
  }
}
