.form-contest {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  .form-contest__name,
  .form-contest__title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @pink;
    text-transform: uppercase;
  }
  .form-contest__necessarily-marker {
    color: @pink;
  }
  .form-contest__progress-box,
  .form-contest__device-box {
    background-color: #f2f2f2;
  }
}
