.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
}
.main-nav__item a {
  text-decoration: none;
  color: #ffffff;
}


@media (min-width: @desktop-width) {
.main-nav__list {
  width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-transform: capitalize;
  }
.main-nav__item {
  padding-right: 85px;
  }
}
