.page-main__top {
  position: relative;
  bottom: 188px;
  left: 44px;
}
.page-main__title {
  display: block;
  width: 235px;
  margin: 0;
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  @media (min-width: @tablet-width) {
    width: 360px;
    bottom: 230px;
    left: 150px;
    font-size: 50px;
    line-height: 58px;
  }
  @media (min-width: @desktop-width) {
    bottom: 195px;
    left: 420px;
  }
}
.page-main__text {
  width: 280px;
  margin-bottom: 22px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  text-align: center;
  @media (min-width: @tablet-width) {
    width: 440px;
    margin-bottom: 55px;
    padding-left: 110px;
    font-size: 18px;
    line-height: 30px;
  }
  @media (min-width: @desktop-width) {
    width: 590px;
    margin-bottom: 60px;
    padding-left: 305px;
  }
}
