.page-header {
  background-color: @grey;
}
.page-header__logo {
  display: block;
  width: 75px;
  height: 24px;
  padding-top: 20px;
  padding-bottom: 27px;
  @media (min-width: @tablet-width) {
    padding-left: 72px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
}
