.page-header {
  min-height: 720px;
  position: relative;
  background-color: @grey;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: inset 0 1px 1px 1px rgba(255,255,255,0.15);
  @media (min-width: @tablet-width) {
    min-height: 982px;
    background-image: url("/img/bg-back-tablet@1x.jpg");
  }
  @media (min-width: @desktop-width) {
    min-height: 852px;
    background-image: url("/img/bg-back-desktop@1x.jpg");
  }
}
.page-header--index::before {
  content: "";
  height: 290px;
  width: 260px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-image: url("/img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  @media (min-width: @tablet-width) {
    height: 545px;
    width: 660px;
    bottom: 0;
    background-position: center;
    background-image: url("/img/iphone-hand-tablet@1x.png");
  }
  @media (min-width: @desktop-width) {
    height: 655px;
    width: 1200px;
    bottom: -5px;
    left: 72px;
    background-image: url("/img/iphone-hand-desktop@1x.png");
  }
}
.page-header--photo,
.page-header--form {
  min-height: 495px;
  margin-bottom: 47px;
  background-position: center;
  @media (min-width: @tablet-width) {
    min-height: 695px;
    margin-bottom: 90px;
  }
  @media (min-width: @desktop-width) {
    min-height: 395px;
  }
}
.page-header__menu--closed {
  min-height: 460px;
  @media (min-width: @tablet-width) {
    min-height: 730px;
  }
}
.page-header__box {
  background-color: @grey;
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    background-color: rgba(129,129,129,0.3);
  }
}
.page-header__box-fill {
  background-color: rgba(@grey,0.3);
}
.page-header__logo {
  display: block;
  width: 75px;
  height: 24px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  &:hover,
  &:focus {
    .page-header__logo-svg path {
    fill: @pink;
    }
  }
  &:active {
    .page-header__logo-svg path {
    fill: rgba(@pink,0.3);
    }
  }
  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 92px;
  }
  @media (min-width: @desktop-width) {
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 202px;
    padding-right: 170px;
  }
}
