.page-main__top {
  position: relative;
}
.page-main__title {
  display: block;
  width: 180px;
  margin: 0;
  position: absolute;
  bottom: 98px;
  left: 70px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
.page-main__text {
  width: 100px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  text-align: center;
}
