.prices {
  margin-bottom: 45px;
  padding-top: 90px;
  padding-bottom: 24px;
  background-color: #f2f2f2;
}
.prices__list {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: flex;
    width: 462px;
    flex-direction: row;
  }
}
.prices__item {
  text-transform: uppercase;
}
.prices__item svg {
  position: absolute;
}
.prices__list-cart {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet-width) {
    width: 152;
  }
}
.prices__item-cart {
  padding-bottom: 20px;
  border: 1px solid #e5e5e5;
  @media (min-width: @tablet-width) {
    width: 154px;
    padding-bottom: 8px;
  }
}
.prices__header-cart {
  padding-left: 90px;
  border-bottom: none;
  background-color: @grey;
  @media (min-width: @tablet-width) {
    padding-left: 46px;
  }
}
.prices__title-cart {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  @media (min-width: @tablet-width) {
    padding-top: 15px;
    font-size: 16px;
  }
}
.prices__value-cart {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
.prices__check-cart {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  background-color: #ffffff;
  @media (min-width: @tablet-width) {
    padding-left: 16px;
    padding-right: 30px;
    text-transform: capitalize;
  }
}
.prices__toggles {
  padding-left: 112px;
  @media (min-width: @tablet-width) {
    display: none;
  }
}
