.prices {
  margin-bottom: 45px;
  padding-top: 88px;
  padding-bottom: 24px;
  background-color: #f2f2f2;
  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
  }
}
.prices__list {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  list-style: none;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.prices__item {
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    width: 155px;;
  }
}
.prices__item svg {
  position: absolute;
  @media (min-width: @tablet-width) {
    transform: translateY(-7px) translateX(-7px) scale(0.8);
  }
}
.prices__list-cart {
  margin: 0;
  padding: 0;
  border: 1px solid #f2f2f2;
  list-style: none;
  @media (min-width: @tablet-width) {
    border: none;
  }
}
.prices__item-cart {
  display: block;
  border: 1px solid #e5e5e5;
  @media (min-width: @tablet-width) {
    border: none;
  }
}
.prices__header-cart {
  padding-left: 90px;
  background-color: @grey;
  @media (min-width: @tablet-width) {
    padding-left: 0;
    text-align: center;
  }
}
.prices__header-cart:nth-child(1) {
  @media (min-width: @tablet-width) {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }
}
.prices__title-cart {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  @media (min-width: @tablet-width) {
    padding-top: 13px;
    font-size: 16px;
    line-height: 26px;
  }
}
.prices__value-cart {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    font-size: 18px;
  }
}
.prices__check-cart {
  padding-left: 22px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  background-color: #ffffff;
  @media (min-width: @tablet-width) {
    display: block;
    height: 45px;
    width: 153px;
    padding: 0;
    border: 1px solid #e5e5e5;
    position: relative;
    font-size: 0;
    text-transform: none;
  }
}
.prices__check-cart:nth-child(2)::before {
  @media (min-width: @tablet-width) {
    content: "";
    height: 45px;
    width: 153px;
    border: 1px solid #e5e5e5;
    background-color: red;
    position: relative;
    top: -200px;
    left: 0;
  }
}
.prices__toggles {
  padding-left: 112px;
  @media (min-width: @tablet-width) {
    display: none;
  }
}
