.reviews {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 38px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}
.reviews__list {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  list-style: none;
  @media (min-width: @desktop-width) {
    width: 700px;
    margin-left: 230px;
  }
}
.reviews__item {
  margin: 0;
  padding: 0;
}
.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  font-style: normal;
  @media (min-width: @tablet-width) {
    position: relative;
    top: 130px;
    font-size: 20px;
  }
  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}
.reviews__author-info {
  display: none;
  @media (min-width: @tablet-width) {
    display: inline;
    position: relative;
    top: 130px;
    font-size: 14px;
    line-height: 30px;
  }
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
.reviews__quotation {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  @media (min-width: @tablet-width) {
    position: relative;
    top: -75px;
    font-size: 18px;
    line-height: 30px;
  }
}
.reviews__toggles {
  padding-left: 110px;
  @media (min-width: @tablet-width) {
    padding-left: 278px;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}
