.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  display: inline-block;
  width: 280px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 50px;
}
